%% -*- erlang -*-
[{mud, [{acceptors, 100},
        {port, 8081},
        {save_timeout, 120000},
        {max_allowed_nick_len, 50},
        {min_allowed_nick_len, 1},
        {starting_location, <<"starting_tavern">>},
        {channel_prefix, <<"locations.">>},
        {hive_port, 8080},
        {hive_url, <<"http://localhost">>},
        {hive_api_port, 1235},
        {hive_api_key, <<"abcde12345">>}]},
 {lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend, [{file, "log/mud/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/mud/console.log"}, {level, info}]}
                     ]}
         ]}].
