%% -*- erlang -*-
[{mud, [{acceptors, 100},
        {port, 8081},
        {max_allowed_nick_len, 50},
        {min_allowed_nick_len, 1},
        {npc_spawn_timeout, 3000},
        {save_timeout, 120000},
        {locations_file, <<"locations.json">>},
        {items_file, <<"items.json">>},
        {players_file, <<"npcs.json">>},
        {passwords_file, <<"passwd.json">>},
        {channel_prefix, <<"locations.">>},
        {hive_url, <<"http://localhost">>}]},
 {lager, [{handlers, [{lager_console_backend, debug},
                      {lager_file_backend, [{file, "log/mud/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/mud/console.log"}, {level, info}]}
                     ]}
         ]}].
